*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 13, 0.934); 
    color: rgb(116, 43, 226);
}

.nav-sectuin{
    width: 100%;
    padding: 0 8rem;
    height: 4rem;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    z-index: 99;
    position: fixed;
}
.logo{
   font-size: 2rem;

}
.nav-items{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}
.nav-items a{
    text-decoration: none;
    color: white;
    transition: .18s ease-in;
}
.nav-items a:hover{
    text-decoration: none;
    color:#00d5ffa4 ;
    text-shadow:1px 1px 30px #b1e4ffe6;
}
.bg-img-sec {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.bg-img-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    position: relative;
    background-color: rgba(0, 0, 13, 0.49);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: wheat;
}
.page1 h2{
    font-size: 7rem;
    position: relative;
}
.page1 h2::before{
    content: "Welcome to NeuroShield";
    position: absolute;
    color: rgb(116, 43, 226);
    top: -2.5px;
    right: -5px;
    z-index: 1;
    /* -webkit-text-stroke: 1px blue; */
}
.page1 h3{
    margin-bottom:.8rem;
    font-size: 3.1rem;
    color: white;
    position: relative;
}
.page1 h3::before{
    content: "Indias No.1 Trasted Platform";
    position: absolute;
    top: -0.5px;
    right: -2px;
    color:rgb(116, 43, 226);
    z-index: 1;
}
.page1 p{
    color: rgba(180, 173, 173, 0.744);
    max-width: 57vw;
    font-size: 1.2rem;

}
.page2 {
    padding: 4rem 8rem;
}

.grid { 
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}
.cards {
    background: rgba(0, 0, 0, 0); 
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.05);
    color: #fff;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    transition: .2s ease-in;
}

.cards:hover {
    transform: translateY(-8px);
     box-shadow:1px 1px 10px #00d4ff;
}

.cards i {
    font-size: 32px;
    margin-bottom: 12px;
    color: rgb(116, 43, 226);
}
.cards p{
    color: rgba(180, 173, 173, 0.744);
}
.cards h3{
    color: rgba(219, 207, 207, 0.989);
}

button{ 
    margin-bottom: 5rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center ;
    padding:.7rem 1.8rem;
    border-radius: 20px;
    border: none;
    color: #fff;
    background: linear-gradient(
        135deg,
        rgba(0, 212, 255, 0.9),
        rgba(116, 43, 226, 0.9)
    );

    cursor: pointer;
    position: relative;
    overflow: hidden;

    box-shadow:
        0 0 20px rgba(0, 212, 255, 0.35),
        0 0 40px rgba(116, 43, 226, 0.25);

      transition:.2s ease;  
}

button:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow:
        0 0 30px rgba(0, 212, 255, 0.6),
        0 0 60px rgba(116, 43, 226, 0.45);
}
